@model LightMail.DataLayer.DTO.UserLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" class="light-style customizer-hide" dir="rtl" data-theme="theme-default" data-assets-path="/" data-template="vertical-menu-template-no-customizer">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
    <title>لایت کمپانی | @ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Icons -->
    <link rel="stylesheet" href="~/fonts/boxicons.css">
    <link rel="stylesheet" href="~/fonts/fontawesome.css">
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/css/core-dark.css">
    <link rel="stylesheet" href="~/css/theme-default-dark.css">
    <link rel="stylesheet" href="~/css/demo.css">
    <link rel="stylesheet" href="~/css/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/libs/typeahead-js/typeahead.css">
    <!-- Vendor -->
    <link rel="stylesheet" href="~/libs/formvalidation/dist/css/formValidation.min.css">

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/css/pages/page-auth.css">
    <!-- Helpers -->
    <script src="~/js/helpers.js"></script>
    <script src="~/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/libs/hammer/hammer.js"></script>
    <script src="~/libs/i18n/i18n.js"></script>
    <script src="~/libs/typeahead-js/typeahead.js"></script>
    <script src="~/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <!-- Main JS -->
    <script src="~/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/js/pages-auth.js"></script>
    @RenderSection("Scripts",required:false)
</body>
</html>