@{
    ViewData["Title"] = "قوانین";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>این سامانه کاملا خصوصی می باشد و هیچ گونه حق بهره برداری و استفاده را ندارید</p>
</div>